<div class="container__client">
    <form [formGroup]="formCompra">
        <h4>Datos Autoridades</h4>
        <div class="container__data__client">
            <div class="select">
                <select name="format" id="format" formControlName="fk_tbl_autoridades_id">
                    <option *ngFor="let c of autoridades" [value]="c.id">{{c.nombre +' '+c.apellido}}
                    </option>
                </select>

            </div>
        </div>
       
        <br>
        <h4>Datos Compra</h4>
        <label for="start">Fecha: </label>
        <input formControlName="fecha" type="date" id="start" name="trip-start">
       
        <label for="tentacles"> Cantidad:</label>
        <input formControlName="cantidad" type="number" id="tentacles" name="tentacles" min="10" max="100">
        

        <label for="tentacles">Número de acta:</label>
        <input formControlName="numero_acta" type="text" id="tentacles" name="tentacles" min="10" max="100">
       

        <label for="tentacles"> Observaciones:</label>
        <input formControlName="observacion" type="text" id="tentacles" name="tentacles" min="10" max="100">
        

        <button type="button" class="btn btn-primary" (click)="createCompra(formCompra.value)">Guardar</button>

    </form>
</div>