<div class="col-md-12">
    <div style="text-align: center;">
        <h1>Tinas</h1>
    </div>
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#crearCliente">Nueva
        Tina</button> -->
    <br><br>
    <table class="table table-bordered table-hover bg-white" style="text-align: center;">
        <thead>
            <tr>
                <th style="width: 10px;">ID</th>
                <th >Fecha</th>
                <th >Número de acta</th>
                <th >Cantidad</th>
                <th >Observación</th>
                <th >Autoridad</th>


            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let i of recicladas">
                <td>
                    {{i.id}}
                </td>
                <td>
                    {{i.fecha}}
                </td>
                <td>
                    {{i.numero_acta}}
                </td>
                <td>
                    {{i.cantidad}}
                </td>
                <td>
                    {{i.observacion}}
                </td>
                <td>
                    {{i.autoridad}}
                </td>

            </tr>
        </tbody>
    </table>
</div>